@media screen and (max-width: 600px) {
  header {
    width: 100%;
    position: relative;
    height: 869px;
    margin: 0px auto;
  }
  header .header-div {
    width: 100%;
    height: 100%;
    padding-block: 20px;
  }
  header .menu-div ul {
    display: grid;
    align-items: center;
    grid-template-columns: 60px 120px 1fr 1fr;
    justify-items: end;
    gap: 5px;
  }
  header .dialog {
    display: none;
    width: 150px;
    height: -moz-fit-content;
    height: fit-content;
    position: absolute;
    right: 0px;
    left: 55%;
    top: 80px;
    border-radius: 15px;
    border-width: 1px;
    border-style: solid;
    border-color: black;
    -o-border-image: initial;
       border-image: initial;
    margin-inline: auto;
  }
  header .menu-div ul .header-li {
    display: none;
  }
  header .menu-div ul li a {
    color: rgb(255, 255, 255);
    font-family: "Tekton Pro";
    font-size: 20px;
    font-style: normal;
    line-height: normal;
  }
  header .dialog div {
    background-color: rgba(44, 48, 52, 0.7);
    width: 100%;
    height: 100%;
    border-radius: 15px;
    padding: 10px;
  }
  header .dialog div p {
    cursor: pointer;
    position: relative;
    text-align: left;
    margin-bottom: 20px;
    padding: 5px;
  }
  header p {
    margin-bottom: 60px;
    color: rgb(255, 255, 255);
    font-family: "Open Sans";
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  header .dialog div p a {
    color: rgb(177, 172, 161);
    font-family: "Open Sans";
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    text-decoration: none;
  }
  header .menu-div ul li {
    color: rgb(203, 199, 190);
    font-family: "Tekton Pro";
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  header .header-svg {
    display: block;
  }
  header .menu-div ul li svg {
    cursor: pointer;
  }
  header .dialog {
    display: none;
    width: 150px;
    height: -moz-fit-content;
    height: fit-content;
    position: absolute;
    right: 0px;
    left: 55%;
    top: 80px;
    border-radius: 15px;
    border-width: 1px;
    border-style: solid;
    border-color: black;
    -o-border-image: initial;
       border-image: initial;
    margin-inline: auto;
  }
  header .dialog div p {
    cursor: pointer;
    position: relative;
    text-align: left;
    margin-bottom: 20px;
    padding: 5px;
  }
  header .dialog div p::after {
    position: absolute;
    content: "";
    transform: translateX(-50%);
    width: 100%;
    bottom: -10px;
    left: 50%;
    border-bottom: 1px solid rgb(210, 215, 218);
  }
  .dialog p:hover {
    background-color: rgb(114, 114, 120);
    border-radius: 10px;
  }
  .dialog p:hover a {
    color: rgb(203, 199, 190);
  }
  @keyframes opacity {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes opacity2 {
    100% {
      opacity: 0;
    }
    0% {
      opacity: 1;
    }
  }
  header .central-div {
    width: 70%;
    text-align: left;
    margin: 0px auto;
  }
  header .central-div h1 {
    margin-top: 100px;
    margin-bottom: 40px;
    color: rgb(203, 199, 190);
    font-family: Teko;
    font-size: 55px;
    font-style: normal;
    font-weight: 400;
    line-height: 113.8%;
  }
  header p {
    margin-bottom: 60px;
    color: rgb(255, 255, 255);
    font-family: "Open Sans";
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  header .btns-div {
    text-align: center;
  }
  header .btns-div {
    margin-top: clamp(50px, 6.5vw, 100px);
    text-align: center;
  }
  header .btns-div button {
    color: rgb(44, 48, 52);
    margin-bottom: 25px;
    width: 80%;
    height: 78px;
    flex-shrink: 0;
    background-color: rgb(203, 199, 190);
    font-family: Teko;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-inline: 5px;
    border-radius: 12px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(203, 199, 190);
    -o-border-image: initial;
       border-image: initial;
  }
  header .btns-div .btn-second {
    background-color: transparent;
    color: rgb(203, 199, 190);
  }
  .section-1 {
    width: 100%;
    overflow: hidden;
  }
  .section-1 .sec1 {
    height: 300px;
    width: 400%;
    display: flex;
    flex-direction: row;
  }
  .section-1 .section-div {
    width: 100vw;
    height: 328px;
    display: grid;
    place-content: center;
  }
  .section-1 .sd1 {
    position: relative;
  }
  .section-1 h3 {
    color: rgb(255, 255, 255);
    text-align: center;
    font-family: Teko;
    font-size: 39px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
  }
  .section-1 p {
    color: rgb(203, 199, 190);
    text-align: center;
    font-family: "Open Sans";
    font-size: 31px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
  }
  .dots-div {
    height: 30px;
    width: 40vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin: 0px auto;
  }
  .dots-div .dots {
    cursor: pointer;
    transform: translateY(-60px);
    background-color: rgba(245, 242, 242, 0.5);
    width: 15px;
    aspect-ratio: 1/1;
    border-radius: 50%;
  }
  .section-2 {
    height: -moz-fit-content;
    height: fit-content;
    display: flex;
    flex-direction: column;
    margin: 0px auto;
  }
  .section-2 .s2d-1 {
    padding: 50px;
  }
  .section-2 .s2d-1 h2 {
    color: rgb(0, 0, 0);
    font-family: Teko;
    font-size: 39px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  .section-2 .s2d-1 hr {
    height: 7px;
    width: 20%;
    margin-top: 15px;
    margin-bottom: 30px;
    border-width: 0px;
    border-style: initial;
    border-color: initial;
    -o-border-image: initial;
       border-image: initial;
    background: rgb(146, 53, 65);
  }
  .section-2 .s2d-2 {
    height: 382px;
    display: block;
    position: relative;
  }
  .section-3 {
    max-width: 100vw;
    text-align: center;
    height: -moz-fit-content;
    height: fit-content;
    padding: 0px;
    overflow: hidden;
  }
  .section-3 .img-div {
    display: none;
    visibility: hidden;
  }
  .section-3 .s3d {
    width: 100vw;
    text-align: left;
    background-color: rgb(44, 48, 52);
    padding: 50px;
    padding-block: 80px;
  }
  .section-3 .s3d h3 {
    color: rgb(255, 255, 255);
    font-family: Teko;
    font-size: 39px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  .section-3 .s3d hr {
    height: 7px;
    width: 20%;
    margin-top: 20px;
    margin-bottom: 50px;
    background: rgb(146, 53, 65);
    border-width: 0px;
    border-style: initial;
    border-color: initial;
    -o-border-image: initial;
       border-image: initial;
  }
  .section-3 .s3d span {
    color: rgba(255, 255, 255, 0.45);
    display: inline-block;
    font-family: Teko;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 50px;
  }
  .section-3 .s3d p {
    color: rgb(255, 255, 255);
    font-family: "Open Sans";
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  .section-3 button {
    text-align: center;
    display: block;
    width: 80%;
    height: 68px;
    color: rgb(44, 48, 52);
    font-family: Teko;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 80px auto 0px;
  }
  .section-4 {
    height: -moz-fit-content;
    height: fit-content;
    background-color: rgb(44, 48, 52);
    overflow: hidden;
    margin: 0px auto;
  }
  .section-4 h3 {
    color: rgb(255, 255, 255);
    text-align: center;
    font-family: Teko;
    font-size: 39px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
  }
  .section-4 .s4d {
    display: flex;
    flex-direction: row;
    width: 75%;
    flex-wrap: nowrap;
    align-items: center;
    gap: 15px;
    margin: 0px auto;
  }
  .section-4 .s4d .s4d-1, .section-4 .s4d .s4d-2, .section-4 .s4d .s4d-3 {
    height: 470px;
    width: 320px;
    box-shadow: rgba(115, 113, 113, 0.25) 5px 3px 7px 0px;
    border-radius: 5px;
    padding: 0px;
    background: rgb(255, 255, 255);
  }
  .section-4 .s4d .s4d-1 img, .section-4 .s4d .s4d-2 img, .section-4 .s4d .s4d-3 img {
    width: 320px;
    height: 209px;
  }
  .section-4 .s4d .s4d-1 h4, .section-4 .s4d .s4d-2 h4, .section-4 .s4d .s4d-3 h4 {
    display: block;
    width: 80%;
    color: rgb(0, 0, 0);
    font-family: Teko;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    margin: 10px auto;
  }
  .section-4 .s4d .s4d-1 span, .section-4 .s4d .s4d-2 span, .section-4 .s4d .s4d-3 span {
    display: block;
    width: 80%;
    color: rgba(44, 48, 52, 0.48);
    font-family: Teko;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 10px auto;
  }
  .section-4 .s4d .s4d-1 a, .section-4 .s4d .s4d-2 a, .section-4 .s4d .s4d-3 a {
    display: block;
    width: 80%;
    color: rgb(76, 77, 226);
    font-family: "Open Sans";
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    text-decoration-line: underline;
    text-decoration-thickness: 1px;
    margin: 10px auto;
  }
  .section-5 {
    height: -moz-fit-content;
    height: fit-content;
    background-color: rgb(246, 246, 244);
    padding: 0px;
    margin: 0px auto;
    gap: 5%;
  }
  .section-5 .s5d .s5d-div1 {
    display: flex;
    flex-direction: column;
    padding: 50px 70px;
  }
  .section-5 .s5d .s5d-div1 .s5d-div1-child1 {
    margin-bottom: 45px;
    align-items: center;
    color: rgb(0, 0, 0);
    font-family: Teko;
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  .section-5 .s5d .s5d-div1 .s5d-div1-child2 {
    color: rgb(0, 0, 0);
    font-family: "Open Sans";
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
  }
  .section-5 .s5d .s5d-div1 .s5d-div1-child2 p {
    margin-bottom: 45px;
  }
  .section-5 .s5d .s5d-div2 {
    height: 696px;
    position: relative;
    background-image: url("../assets/images/Rectangle 26.png");
  }
  .section-5 .wrapper {
    position: absolute;
    width: 80%;
    height: 300px;
    left: 0px;
    right: 0px;
    bottom: 120px;
    margin-inline: auto;
  }
  .section-5 .wrapper .wrapper-div1 {
    width: 160px;
    flex-shrink: 0;
    height: -moz-fit-content;
    height: fit-content;
    text-align: center;
    background-color: rgba(163, 164, 214, 0.79);
  }
  .section-5 .wrapper .wrapper-div1 p {
    display: grid;
    color: rgb(44, 48, 52);
    font-family: Teko;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    place-content: center;
  }
  .section-5 .wrapper .wrapper-div2 {
    height: 300px;
    background-color: rgba(255, 255, 255, 0.87);
    padding: clamp(20px, 5.5vw, 50px);
  }
  .section-5 .wrapper .wrapper-div2 b {
    margin-top: 20px;
    color: rgb(0, 0, 0);
    font-family: Teko;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  .section-5 .wrapper .wrapper-div2 h4 {
    color: rgb(0, 0, 0);
    font-family: "Open Sans";
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-block: 10px;
  }
  .section-5 .wrapper .wrapper-div2 .text-concat {
    display: inline-block;
    overflow-wrap: break-word;
    color: rgb(0, 0, 0);
    font-family: "Open Sans";
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
  }
  footer .section-6 {
    height: -moz-fit-content;
    height: fit-content;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    background-color: rgb(44, 48, 52);
    justify-content: space-between;
    padding: clamp(40px, 6vw, 120px);
  }
  footer .section-6 .s6d-1, footer .section-6 .s6d-3 {
    color: rgb(255, 255, 255);
    text-align: left;
    font-family: "Open Sans";
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  footer .section-6 .s6d-1 a, footer .section-6 .s6d-3 a {
    color: rgb(255, 255, 255);
    text-align: left;
    font-family: "Open Sans";
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  footer .section-6 .s6d-2 {
    margin-block: 2rem;
  }
  footer .section-7 {
    background-color: rgb(203, 199, 190);
    height: 768px;
    display: grid;
    padding: clamp(40px, 10vw, 100px);
  }
  footer .section-7 .s7d-1 {
    width: 70%;
    display: flex;
    align-items: center;
    flex-direction: column-reverse;
    justify-content: space-around;
    margin: 0px auto 5vw;
  }
  footer .section-7 .s7d-1 svg {
    display: block;
    width: 50px;
    height: 60px;
    margin-bottom: 50px;
  }
  footer .s7d-2 {
    text-align: center;
  }
  footer .s7d-2 p {
    color: rgba(0, 0, 0, 0.44);
    text-align: center;
    font-family: Teko;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
}/*# sourceMappingURL=media.css.map */